# Global
.vscode/
*.swp
.env
.env.*
!.env.example
!.env.docker.example
*.tsbuildinfo

# Frontend & Backend
node_modules/
dist/
build/
coverage/
.npm
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.pytest_cache/
.mypy_cache/

