NODE_ENV=       # Server's environment. 'development', 'test', 'release', or 'production'. Default to 'development'
JWT_SECRET=     # Generate using `openssl rand -hex 32`
CORS_ORIGIN=    # Comma-separated hostnames. Default to '*'. When working with frontend application, make sure to set this to the address of the frontend application e.g. 'http://localhost:5173' otherwise the httpOnly cookies for refresh token won't work
S3_ACCESS_KEY_ID=       # MinIO username
S3_SECRET_ACCESS_KEY=   # MinIO password
S3_BUCKET_NAME=         # MinIO bucket name
S3_PUBLIC_ENDPOINT=     # MinIO public endpoint. Used to construct publicly accessible endpoint to download and upload files
AI_API_KEY=             # API Key to access AI server
