NODE_ENV=       # Server's environment. 'development', 'test', 'release', or 'production'. Default to 'development'
PORT=           # Server's port number. Default to '3000'
CORS_ORIGIN=    # Comma-separated hostnames. Default to '*'. When working with frontend application, make sure to set this to the address of the frontend application e.g. 'http://localhost:5173' otherwise the httpOnly cookies for refresh token won't work
DATABASE_URI=   # MongoDB connection string. Include the database name e.g 'mongodb://127.0.1.1/motochatz'
JWT_SECRET=     # Generate using `openssl rand -hex 32`
