NODE_ENV=               # Server's environment. 'development', 'test', 'release', or 'production'. Default to 'development'
PORT=                   # Server's port number. Default to '3000'
CORS_ORIGIN=            # Comma-separated hostnames. Default to '*'. When working with frontend application, make sure to set this to the address of the frontend application e.g. 'http://localhost:5173' otherwise the httpOnly cookies for refresh token won't work
DATABASE_URI=           # MongoDB connection string. Include the database name e.g 'mongodb://127.0.0.1:27017/motochatz'
JWT_SECRET=             # Generate using `openssl rand -hex 32`
S3_REGION=              # S3/MinIO region. For deploying on AWS, insert your account region here e.g. 'ap-southeast-1'. Default to 'us-east-1'
S3_ENDPOINT=            # S3/MinIO endpoint. For virtual-hosted style make sure to include the bucket name in the subdomain. Default to 'http://localhost:9000'
S3_PUBLIC_ENDPOINT=     # Only assign value to this when running S3 on internal network such as docker compose to reconstruct the url's internal domain into public
S3_ACCESS_KEY_ID=       # Access Key ID. For MinIO it would be the user name
S3_SECRET_ACCESS_KEY=   # Secret Access Key. For MinIO it would be the user password
S3_BUCKET_NAME=         # S3 bucket name
S3_PATH_STYLE=          # Value is either 'PATH' or 'VIRTUAL' Whether or not to enforce path style url e.g 'https://s3.ap-southeast1.amazonaws.com/motochatz' rather than virtual-hosted style's 'https://motochatz.s3.ap-southeast1.amazonaws.com'
AI_SERVER_URL=          # URL of the AI server for document ingestion. Example: http://localhost:3001/ingest
AI_API_KEY=             # API key for authentication with the AI server.
